PORT=
FRONTEND_URL=
MONGO_URL=
JWT_SECRET=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=